body {
  margin: 60px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


button{

  margin: 5px;

}

img {

  filter: hue-rotate(-90deg);

}